html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Fira Sans", Arial, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

*, :after, :before {
  box-sizing: border-box; }

#__bs_notify__ {
  top: 0 !important;
  left: 0 !important;
  right: inherit !important;
  width: 0px !important;
  height: 2px !important;
  padding: 0 !important;
  background: #2194CE !important;
  text-indent: -999px !important;
  -webkit-animation: kappa 2s cubic-bezier(0.65, 0.05, 0.36, 1) 1 !important;
          animation: kappa 2s cubic-bezier(0.65, 0.05, 0.36, 1) 1 !important;
  overflow: hidden !important; }

@-webkit-keyframes kappa {
  100% {
    width: 100%; } }

@keyframes kappa {
  100% {
    width: 100%; } }

body {
  background-color: #999; }

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

section.viewport {
  width: 100%;
  height: calc(100vh - 100px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url("images/nautilao-colado.png") center bottom no-repeat #AAA;
  background-size: 100%; }

aside.sidebar {
  width: 300px;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.tools {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.checkbox input {
  margin: 0;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  position: relative; }
  .checkbox input::before, .checkbox input::after {
    content: "";
    display: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .checkbox input::before {
    display: block;
    border: 1px solid #666; }
  .checkbox input:checked::after {
    display: block;
    background: url(' data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iNy45MDUiIHZpZXdCb3g9IjAgMCAxMCA3LjkwNSI+PHBhdGggZmlsbD0iIzIxOTRDRSIgZD0iTTMuNzYgNy45MDVMMCA0LjE5bDEuNzYyLTEuNzRMMy43NiA0LjQyMiA4LjIzNiAwIDEwIDEuNzQiLz48L3N2Zz4g ') center no-repeat;
    background-size: 70%; }

.checkbox label {
  color: #999;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 5px; }

.menu {
  width: 100%;
  height: 40px;
  background: #333;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .menu li.active::before {
    content: "";
    width: 13px;
    height: 13px;
    background: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iNy45MDUiIHZpZXdCb3g9IjAgMCAxMCA3LjkwNSI+PHBhdGggZmlsbD0iIzIxOTRDRSIgZD0iTTMuNzYgNy45MDVMMCA0LjE5bDEuNzYyLTEuNzRMMy43NiA0LjQyMiA4LjIzNiAwIDEwIDEuNzQiLz48L3N2Zz4g ') no-repeat center;
    display: block;
    position: absolute;
    margin: 10px 10px 0 0;
    background-size: contain;
    right: 0; }
  .menu__main-options {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .menu__main-options--option {
      position: relative; }
      .menu__main-options--option > a {
        font-size: 14px;
        padding: 15px;
        line-height: 0.8em;
        display: block;
        white-space: pre;
        color: #DDD;
        transition: background-color 0.3s ease, color 0.1s ease; }
      .menu__main-options--option:hover > a {
        background-color: #444; }
      .menu__main-options--option:hover .menu__submenu {
        display: block;
        -webkit-animation: submenuOpen 0.3s ease 1;
                animation: submenuOpen 0.3s ease 1; }
  .menu__submenu {
    position: absolute;
    z-index: 500;
    display: none;
    background-color: #444;
    opacity: 1;
    min-width: 150px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
    .menu__submenu--option {
      border-bottom: 1px solid #373737; }
      .menu__submenu--option a {
        display: block;
        padding: 10px 15px;
        font-size: 14px;
        color: #DDD;
        white-space: pre; }
      .menu__submenu--option:hover {
        background-color: #373737; }
        .menu__submenu--option:hover > a {
          color: #2194CE; }
      .menu__submenu--option:last-child {
        border-bottom: 0; }
      .menu__submenu--option.hr {
        border-bottom-color: #2b2b2b; }
      .menu__submenu--option.has-extended::after {
        content: "";
        width: 6px;
        height: 12px;
        position: absolute;
        right: 10px;
        background: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNS45OTciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCA1Ljk5NyAxMiI+PHBhdGggZmlsbD0iI0RERCIgZD0iTTAgMHYxMmw1Ljk5Ny01Ljc5Ii8+PC9zdmc+IA== ') no-repeat center;
        margin-top: -24px; }
      .menu__submenu--option.has-extended:hover::after {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNS45OTciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCA1Ljk5NyAxMiI+PHBhdGggZmlsbD0iIzIxOTRDRSIgZD0iTTAgMHYxMmw1Ljk5Ny01Ljc5Ii8+PC9zdmc+IA=='); }
      .menu__submenu--option:hover .menu__extended {
        display: block;
        -webkit-animation: submenuOpen 0.3s ease 1;
                animation: submenuOpen 0.3s ease 1; }
  .menu__extended {
    position: absolute;
    display: none;
    left: 100%;
    margin-top: -34px;
    min-width: 150px;
    background-color: #373737;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), 1px 0 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
    .menu__extended--option {
      border-bottom: 1px solid #2b2b2b; }
      .menu__extended--option a {
        white-space: pre; }
      .menu__extended--option:hover {
        background-color: #2b2b2b; }
        .menu__extended--option:hover > a {
          color: #2194CE; }
      .menu__extended--option:last-child {
        border-bottom: 0; }
  .menu__settings {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__settings > div {
      margin-right: 15px; }
    .menu__settings--button {
      border: 1px solid #444;
      border-radius: 5px;
      padding: 6px 14px;
      font-size: 14px;
      color: #999;
      cursor: pointer; }
      .menu__settings--button svg {
        margin-right: 4px;
        display: inline-block;
        vertical-align: bottom; }
      .menu__settings--button:hover {
        border-color: #2194CE;
        background-color: #2194CE;
        color: #333; }
        .menu__settings--button:hover svg path {
          fill: #333; }

@-webkit-keyframes submenuOpen {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes submenuOpen {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.action {
  width: 100%;
  height: 60px;
  background-color: #2e2e2e;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px; }
  .action__add {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .action__selector {
    margin-right: 30px; }
    .action__selector__current-action {
      width: 40px;
      height: 40px;
      position: relative;
      cursor: pointer; }
      .action__selector__current-action .icon {
        width: 100%;
        height: 100%;
        display: block;
        padding: 8px;
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        border-radius: 5px 0 0 5px;
        border: 1px solid #444; }
        .action__selector__current-action .icon:hover {
          background-color: #2194CE; }
      .action__selector__current-action .expand-options {
        display: block;
        width: 15px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: -15px;
        border: 1px solid #444;
        border-radius: 0 5px 5px 0;
        background-color: #383838;
        cursor: pointer; }
        .action__selector__current-action .expand-options:hover {
          background-color: #474747; }
        .action__selector__current-action .expand-options::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 12px;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
          background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNS45OTciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCA1Ljk5NyAxMiI+PHBhdGggZmlsbD0iIzIxOTRDRSIgZD0iTTAgMHYxMmw1Ljk5Ny01Ljc5Ii8+PC9zdmc+IA==');
          background-repeat: no-repeat;
          background-position: center;
          left: 50%;
          top: 50%;
          margin-top: -6px;
          margin-left: -3px; }
        .action__selector__current-action .expand-options.disabled {
          cursor: default; }
          .action__selector__current-action .expand-options.disabled:hover {
            background-color: #383838; }
          .action__selector__current-action .expand-options.disabled::before {
            background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNS45OTciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCA1Ljk5NyAxMiI+PHBhdGggZmlsbD0iIzY2NiIgZD0iTTAgMHYxMmw1Ljk5Ny01Ljc5Ii8+PC9zdmc+IA=='); }
    .action__selector.expanded .action__selector__current-action .icon {
      border-radius: 5px 0 0 0; }
    .action__selector.expanded .action__selector__options {
      display: block; }
    .action__selector [data-action="addplane"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiI+PHBhdGggZmlsbD0iIzIxOTRDRSIgZD0iTTExIDF2MTBIMVYxaDEwbTEtMUgwdjEyaDEyVjB6Ii8+PC9zdmc+IA=='); }
      .action__selector [data-action="addplane"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTExIDF2MTBIMVYxaDEwbTEtMUgwdjEyaDEyVjB6Ii8+PC9zdmc+IA=='); }
    .action__selector [data-action="addbox"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIuNSIgaGVpZ2h0PSIxMi41IiB2aWV3Qm94PSIwIDAgMTIuNSAxMi41Ij48ZyBmaWxsPSIjMjE5NENFIj48cGF0aCBkPSJNOS4yMTUgMy41MjVILjQ5Yy0uMDk4IDAtLjE4Ni0uMDYtLjIyMi0uMTQ3LS4wMzctLjA5LS4wMTgtLjE5My4wNTMtLjI2M0wzLjExNy4zMmMuMDQ2LS4wNDUuMTA1LS4wNy4xNy0uMDdoOC43MjVjLjEgMCAuMTg3LjA2LjIyMy4xNDguMDM3LjA5LjAxOC4xOTItLjA1Mi4yNjJMOS4zODYgMy40NTVjLS4wNDUuMDQ1LS4xMDYuMDctLjE3LjA3em0tOC4xNDYtLjQ4aDguMDQ1TDExLjQzLjczSDMuMzgzTDEuMDcgMy4wNDZ6Ii8+PHBhdGggZD0iTTkuMjE1IDMuNzc1SC40OWMtLjIgMC0uMzc4LS4xMi0uNDUzLS4zMDMtLjA3Ni0uMTg1LS4wMzMtLjM5NS4xMDgtLjUzNUwyLjkzOC4xNDRDMy4wMzMuMDUgMy4xNTYgMCAzLjI4NSAwaDguNzI1Yy4yIDAgLjM4LjEyLjQ1NC4zMDUuMDc2LjE4LjAzNC4zOS0uMTA3LjUzMkw5LjU2MiAzLjYzMmMtLjA5LjA5LS4yMTguMTQzLS4zNDcuMTQzem0tNy41NDMtLjk4aDcuMzRMMTAuODI1Ljk4SDMuNDg4TDEuNjcyIDIuNzk2eiIvPjxwYXRoIGQ9Ik05LjIxNSAxMi4yNUguNDljLS4xMzQgMC0uMjQtLjEwNy0uMjQtLjI0VjMuMjg1YzAtLjEzNC4xMDYtLjI0LjI0LS4yNGg4LjcyNmMuMTMyIDAgLjI0LjEwNi4yNC4yNHY4LjcyNWMwIC4xMzMtLjExLjI0LS4yNC4yNHpNLjczIDExLjc3aDguMjQ1VjMuNTI2SC43M3Y4LjI0NnoiLz48cGF0aCBkPSJNOS4yMTUgMTIuNUguNDljLS4yNyAwLS40OS0uMjItLjQ5LS40OVYzLjI4NWMwLS4yNy4yMi0uNDkuNDktLjQ5aDguNzI1Yy4yNyAwIC40OS4yMi40OS40OXY4LjcyNWMwIC4yNy0uMjIuNDktLjQ5LjQ5ek0uOTggMTEuNTJoNy43NDVWMy43NzZILjk4djcuNzQ2eiIvPjxwYXRoIGQ9Ik05LjIxNSAxMi4yNWMtLjAzIDAtLjA2My0uMDA2LS4wOS0uMDE4LS4wOTItLjAzNy0uMTUtLjEyNS0uMTUtLjIyM1YzLjI4M2MwLS4wNjQuMDI1LS4xMjQuMDctLjE3TDExLjg0LjMyYy4wNy0uMDY4LjE3My0uMDkuMjYyLS4wNS4wOS4wMzUuMTQ3LjEyMy4xNDcuMjJ2OC43MjZjMCAuMDYzLS4wMjYuMTI0LS4wNy4xN0w5LjM4MyAxMi4xOGMtLjA0NS4wNDYtLjEwOC4wNy0uMTcuMDd6bS4yNC04Ljg2NXY4LjA0NkwxMS43NyA5LjEyVjEuMDdMOS40NTQgMy4zODV6Ii8+PHBhdGggZD0iTTkuMjE1IDEyLjVjLS4wNjQgMC0uMTI4LS4wMTMtLjE4Ny0uMDM3LS4xODQtLjA3NS0uMzA0LS4yNTMtLjMwNC0uNDU0VjMuMjgzYzAtLjEzLjA1LS4yNS4xNDItLjM0NUwxMS42NjIuMTQyYy4xNDQtLjE0LjM1OC0uMTguNTM4LS4xMDQuMTguMDcyLjMuMjUuMy40NXY4LjcyNWMwIC4xMy0uMDUuMjU0LS4xNDQuMzQ3bC0yLjc5NCAyLjc5NGMtLjA4OC4wOS0uMjE2LjE0My0uMzQ3LjE0M3ptLjQ5LTkuMDEydjcuMzRsMS44MTQtMS44MTV2LTcuMzRMOS43MDQgMy40OXoiLz48L2c+PC9zdmc+IA=='); }
      .action__selector [data-action="addbox"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIuNSIgaGVpZ2h0PSIxMi41IiB2aWV3Qm94PSIwIDAgMTIuNSAxMi41Ij48ZyBmaWxsPSIjMzMzIj48cGF0aCBkPSJNOS4yMTUgMy41MjVILjQ5Yy0uMDk4IDAtLjE4Ni0uMDYtLjIyMi0uMTQ3LS4wMzctLjA5LS4wMTgtLjE5My4wNTMtLjI2M0wzLjExNy4zMmMuMDQ2LS4wNDUuMTA1LS4wNy4xNy0uMDdoOC43MjVjLjEgMCAuMTg3LjA2LjIyMy4xNDguMDM3LjA5LjAxOC4xOTItLjA1Mi4yNjJMOS4zODYgMy40NTVjLS4wNDUuMDQ1LS4xMDYuMDctLjE3LjA3em0tOC4xNDYtLjQ4aDguMDQ1TDExLjQzLjczSDMuMzgzTDEuMDcgMy4wNDZ6Ii8+PHBhdGggZD0iTTkuMjE1IDMuNzc1SC40OWMtLjIgMC0uMzc4LS4xMi0uNDUzLS4zMDMtLjA3Ni0uMTg1LS4wMzMtLjM5NS4xMDgtLjUzNUwyLjkzOC4xNDRDMy4wMzMuMDUgMy4xNTYgMCAzLjI4NSAwaDguNzI1Yy4yIDAgLjM4LjEyLjQ1NC4zMDUuMDc2LjE4LjAzNC4zOS0uMTA3LjUzMkw5LjU2MiAzLjYzMmMtLjA5LjA5LS4yMTguMTQzLS4zNDcuMTQzem0tNy41NDMtLjk4aDcuMzRMMTAuODI1Ljk4SDMuNDg4TDEuNjcyIDIuNzk2eiIvPjxwYXRoIGQ9Ik05LjIxNSAxMi4yNUguNDljLS4xMzQgMC0uMjQtLjEwNy0uMjQtLjI0VjMuMjg1YzAtLjEzNC4xMDYtLjI0LjI0LS4yNGg4LjcyNmMuMTMyIDAgLjI0LjEwNi4yNC4yNHY4LjcyNWMwIC4xMzMtLjExLjI0LS4yNC4yNHpNLjczIDExLjc3aDguMjQ1VjMuNTI2SC43M3Y4LjI0NnoiLz48cGF0aCBkPSJNOS4yMTUgMTIuNUguNDljLS4yNyAwLS40OS0uMjItLjQ5LS40OVYzLjI4NWMwLS4yNy4yMi0uNDkuNDktLjQ5aDguNzI1Yy4yNyAwIC40OS4yMi40OS40OXY4LjcyNWMwIC4yNy0uMjIuNDktLjQ5LjQ5ek0uOTggMTEuNTJoNy43NDVWMy43NzZILjk4djcuNzQ2eiIvPjxwYXRoIGQ9Ik05LjIxNSAxMi4yNWMtLjAzIDAtLjA2My0uMDA2LS4wOS0uMDE4LS4wOTItLjAzNy0uMTUtLjEyNS0uMTUtLjIyM1YzLjI4M2MwLS4wNjQuMDI1LS4xMjQuMDctLjE3TDExLjg0LjMyYy4wNy0uMDY4LjE3My0uMDkuMjYyLS4wNS4wOS4wMzUuMTQ3LjEyMy4xNDcuMjJ2OC43MjZjMCAuMDYzLS4wMjYuMTI0LS4wNy4xN0w5LjM4MyAxMi4xOGMtLjA0NS4wNDYtLjEwOC4wNy0uMTcuMDd6bS4yNC04Ljg2NXY4LjA0NkwxMS43NyA5LjEyVjEuMDdMOS40NTQgMy4zODV6Ii8+PHBhdGggZD0iTTkuMjE1IDEyLjVjLS4wNjQgMC0uMTI4LS4wMTMtLjE4Ny0uMDM3LS4xODQtLjA3NS0uMzA0LS4yNTMtLjMwNC0uNDU0VjMuMjgzYzAtLjEzLjA1LS4yNS4xNDItLjM0NUwxMS42NjIuMTQyYy4xNDQtLjE0LjM1OC0uMTguNTM4LS4xMDQuMTguMDcyLjMuMjUuMy40NXY4LjcyNWMwIC4xMy0uMDUuMjU0LS4xNDQuMzQ3bC0yLjc5NCAyLjc5NGMtLjA4OC4wOS0uMjE2LjE0My0uMzQ3LjE0M3ptLjQ5LTkuMDEydjcuMzRsMS44MTQtMS44MTV2LTcuMzRMOS43MDQgMy40OXoiLz48L2c+PC9zdmc+IA=='); }
    .action__selector [data-action="addcircle"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iIzIxOTRDRSIgZD0iTTYuNSAxM0MyLjkxNiAxMyAwIDEwLjA4NCAwIDYuNVMyLjkxNiAwIDYuNSAwIDEzIDIuOTE2IDEzIDYuNSAxMC4wODQgMTMgNi41IDEzem0wLTEyQzMuNDY3IDEgMSAzLjQ2NyAxIDYuNSAxIDkuNTMyIDMuNDY3IDEyIDYuNSAxMlMxMiA5LjUzMiAxMiA2LjVDMTIgMy40NjcgOS41MzMgMSA2LjUgMXoiLz48L3N2Zz4g'); }
      .action__selector [data-action="addcircle"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTYuNSAxM0MyLjkxNiAxMyAwIDEwLjA4NCAwIDYuNVMyLjkxNiAwIDYuNSAwIDEzIDIuOTE2IDEzIDYuNSAxMC4wODQgMTMgNi41IDEzem0wLTEyQzMuNDY3IDEgMSAzLjQ2NyAxIDYuNSAxIDkuNTMyIDMuNDY3IDEyIDYuNSAxMlMxMiA5LjUzMiAxMiA2LjVDMTIgMy40NjcgOS41MzMgMSA2LjUgMXoiLz48L3N2Zz4g'); }
    .action__selector [data-action="addcylinder"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTEiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMSAxMyI+PGcgZmlsbD0iIzIxOTRDRSI+PHBhdGggZD0iTTUuNDMyIDQuNTQ2QzIuNzMyIDQuNTQ2IDAgNC4yNSAwIDIuMjVjMC0zIDEwLjg2My0zIDEwLjg2MyAwIDAgMi0yLjczMiAyLjI5Ni01LjQzIDIuMjk2em0wLTMuNTQ2QzIuNTY0IDEgMSAxLjg1OCAxIDIuM3MxLjU2NCAxLjI5NiA0LjQzMiAxLjI5NlM5Ljg2NCAyLjc0IDkuODY0IDIuMyA4LjMgMSA1LjQzMiAxeiIvPjxwYXRoIGQ9Ik01LjUxMyAxM0MyLjg3IDEzIC4wNiAxMi4wOTguMDYgMTAuNDI3bC0uMDU1LS4zOTRMMCAyLjI1aDF2Ny43MThsLjA1Ni4zOTRDMS4wNiAxMS4wNjggMi43OTYgMTIgNS41MTMgMTIgOC4yNTMgMTIgMTAgMTEuMDY4IDEwIDEwLjQyN1YyLjI1aDF2OC4xNzdDMTEgMTIuMDk3IDguMTczIDEzIDUuNTEzIDEzeiIvPjwvZz48L3N2Zz4g'); }
      .action__selector [data-action="addcylinder"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTEiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMSAxMyI+PGcgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTUuNDMyIDQuNTQ2QzIuNzMyIDQuNTQ2IDAgNC4yNSAwIDIuMjVjMC0zIDEwLjg2My0zIDEwLjg2MyAwIDAgMi0yLjczMiAyLjI5Ni01LjQzIDIuMjk2em0wLTMuNTQ2QzIuNTY0IDEgMSAxLjg1OCAxIDIuM3MxLjU2NCAxLjI5NiA0LjQzMiAxLjI5NlM5Ljg2NCAyLjc0IDkuODY0IDIuMyA4LjMgMSA1LjQzMiAxeiIvPjxwYXRoIGQ9Ik01LjUxMyAxM0MyLjg3IDEzIC4wNiAxMi4wOTguMDYgMTAuNDI3bC0uMDU1LS4zOTRMMCAyLjI1aDF2Ny43MThsLjA1Ni4zOTRDMS4wNiAxMS4wNjggMi43OTYgMTIgNS41MTMgMTIgOC4yNTMgMTIgMTAgMTEuMDY4IDEwIDEwLjQyN1YyLjI1aDF2OC4xNzdDMTEgMTIuMDk3IDguMTczIDEzIDUuNTEzIDEzeiIvPjwvZz48L3N2Zz4g'); }
    .action__selector [data-action="addsphere"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PGcgZmlsbD0iIzIxOTRDRSI+PHBhdGggZD0iTTYuNSAxM0MyLjkxNiAxMyAwIDEwLjA4NCAwIDYuNVMyLjkxNiAwIDYuNSAwIDEzIDIuOTE2IDEzIDYuNSAxMC4wODQgMTMgNi41IDEzem0wLTEyQzMuNDY3IDEgMSAzLjQ2OCAxIDYuNVMzLjQ2NyAxMiA2LjUgMTIgMTIgOS41MzIgMTIgNi41IDkuNTMzIDEgNi41IDF6Ii8+PHBhdGggZD0iTTYuNSA5LjYwMmMtMy42NDUgMC02LjUtMS4yNy02LjUtMy4yN2gxYzAgMSAyLjI2IDIuMjcgNS41IDIuMjdzNS41LTEuMjcgNS41LTIuMjdoMWMwIDItMi44NTUgMy4yNy02LjUgMy4yN3oiLz48L2c+PC9zdmc+IA=='); }
      .action__selector [data-action="addsphere"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PGcgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTYuNSAxM0MyLjkxNiAxMyAwIDEwLjA4NCAwIDYuNVMyLjkxNiAwIDYuNSAwIDEzIDIuOTE2IDEzIDYuNSAxMC4wODQgMTMgNi41IDEzem0wLTEyQzMuNDY3IDEgMSAzLjQ2OCAxIDYuNVMzLjQ2NyAxMiA2LjUgMTIgMTIgOS41MzIgMTIgNi41IDkuNTMzIDEgNi41IDF6Ii8+PHBhdGggZD0iTTYuNSA5LjYwMmMtMy42NDUgMC02LjUtMS4yNy02LjUtMy4yN2gxYzAgMSAyLjI2IDIuMjcgNS41IDIuMjdzNS41LTEuMjcgNS41LTIuMjdoMWMwIDItMi44NTUgMy4yNy02LjUgMy4yN3oiLz48L2c+PC9zdmc+IA=='); }
    .action__selector [data-action="addicosahedron"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMuMTY0IiBoZWlnaHQ9IjEzLjAxNCIgdmlld0JveD0iMCAwIDEzLjE2NCAxMy4wMTQiPjxnIGZpbGw9IiMyMTk0Q0UiPjxwYXRoIGQ9Ik0xMC42NTggMTMuMDE0SDIuNTA2TDAgNC45NzggNi41ODMgMGw2LjU4MiA0Ljk4OC0yLjUwNyA4LjAyNnptLTcuNDE2LTFoNi42OEwxMiA1LjM2IDYuNTgyIDEuMjU1IDEuMTY0IDUuMzVsMi4wNzggNi42NjR6Ii8+PHBhdGggZD0iTTYuMDguNDkybDEgLjAxMy0uMDg1IDYuMjgyLTEtLjAxNHoiLz48cGF0aCBkPSJNMTIuNDU0IDQuNjgzbC4yNTYuOTY2LTYuMDg4IDEuNjEtLjI1Ni0uOTY2eiIvPjxwYXRoIGQ9Ik02LjkxIDYuNTAzbDMuNzk2IDUuNzItLjgzMy41NTItMy43OTYtNS43MnoiLz48cGF0aCBkPSJNNi4wNzIgNi41MTNsLjg0NS41MzUtMy42MjIgNS43MTctLjg0NS0uNTM1eiIvPjxwYXRoIGQ9Ik0uNzE1IDQuNjc0bDUuOTEyIDEuNjIzLS4yNjUuOTY0TC40NSA1LjY0eiIvPjwvZz48L3N2Zz4g'); }
      .action__selector [data-action="addicosahedron"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMuMTY0IiBoZWlnaHQ9IjEzLjAxNCIgdmlld0JveD0iMCAwIDEzLjE2NCAxMy4wMTQiPjxnIGZpbGw9IiMzMzMiPjxwYXRoIGQ9Ik0xMC42NTggMTMuMDE0SDIuNTA2TDAgNC45NzggNi41ODMgMGw2LjU4MiA0Ljk4OC0yLjUwNyA4LjAyNnptLTcuNDE2LTFoNi42OEwxMiA1LjM2IDYuNTgyIDEuMjU1IDEuMTY0IDUuMzVsMi4wNzggNi42NjR6Ii8+PHBhdGggZD0iTTYuMDguNDkybDEgLjAxMy0uMDg1IDYuMjgyLTEtLjAxNHoiLz48cGF0aCBkPSJNMTIuNDU0IDQuNjgzbC4yNTYuOTY2LTYuMDg4IDEuNjEtLjI1Ni0uOTY2eiIvPjxwYXRoIGQ9Ik02LjkxIDYuNTAzbDMuNzk2IDUuNzItLjgzMy41NTItMy43OTYtNS43MnoiLz48cGF0aCBkPSJNNi4wNzIgNi41MTNsLjg0NS41MzUtMy42MjIgNS43MTctLjg0NS0uNTM1eiIvPjxwYXRoIGQ9Ik0uNzE1IDQuNjc0bDUuOTEyIDEuNjIzLS4yNjUuOTY0TC40NSA1LjY0eiIvPjwvZz48L3N2Zz4g'); }
    .action__selector [data-action="addtorus"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQuMzQ0IiBoZWlnaHQ9IjEzLjc5OSIgdmlld0JveD0iMCAwIDE0LjM0NCAxMy43OTkiPjxwYXRoIGZpbGw9IiMyMTk0Q0UiIGQ9Ik0xMS42MSAxMy44SDIuNzMzTDAgNS4yNyA3LjE3MyAwbDcuMTcgNS4yOTZMMTEuNjEgMTMuOHptLTcuNDE4LTJoNS45NkwxMiA2LjA1IDcuMTcgMi40ODQgMi4zNDQgNi4wM2wxLjg0OCA1Ljc3eiIvPjwvc3ZnPiA='); }
      .action__selector [data-action="addtorus"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQuMzQ0IiBoZWlnaHQ9IjEzLjc5OSIgdmlld0JveD0iMCAwIDE0LjM0NCAxMy43OTkiPjxwYXRoIGZpbGw9IiMzMzMiIGQ9Ik0xMS42MSAxMy44SDIuNzMzTDAgNS4yNyA3LjE3MyAwbDcuMTcgNS4yOTZMMTEuNjEgMTMuOHptLTcuNDE4LTJoNS45NkwxMiA2LjA1IDcuMTcgMi40ODQgMi4zNDQgNi4wM2wxLjg0OCA1Ljc3eiIvPjwvc3ZnPiA='); }
    .action__selector [data-action="addtorusknot"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMiIGhlaWdodD0iMTIuMjM3IiB2aWV3Qm94PSIwIDAgMTMgMTIuMjM3Ij48ZyBmaWxsPSIjMjE5NENFIj48cGF0aCBkPSJNMy42MzcgMTIuMjFjLS45MjcgMC0xLjk0LS4yNDQtMi42Ny0uODU1Qy4yOTggMTAuNzkzLS4wMzUgMTAgLjAwNCA5LjA2Yy4xMDctMi41OTQgMi42MTMtMy43OTUgMi43Mi0zLjg0NWwuNDI0LjkwNWMtLjAyLjAxLTIuMDYzIDEtMi4xNDUgMi45ODMtLjAyNi42MjYuMTc4IDEuMTI2LjYwOCAxLjQ4Ni43NTUuNjMzIDIuMDEyLjcyIDIuODYuNTMzIDEuNjEtLjM1NCAzLjA0Mi0xLjU4MyAzLjkyNi0zLjM3LjQ0Ni0uOS41MzYtMS43OS41MzctMS44bC45OTYuMDkzYy0uMDA2LjA0NC0uMTA2IDEuMDc4LS42MzcgMi4xNS0xLjAyIDIuMDYtMi43IDMuNDgzLTQuNjA2IDMuOTAzLS4zMi4wNy0uNjc4LjExLTEuMDUuMTF6Ii8+PHBhdGggZD0iTTkuNTY3IDEyLjI0Yy0xLjUwMiAwLTIuNjk2LS43ODMtMi43NjYtLjgzbC41NTYtLjgzYy4wMi4wMTIgMS45MjMgMS4yNDcgMy42NjIuMjkyLjU1LS4zLjg3LS43MzUuOTU4LTEuMjkuMTUtLjk3NC0uNDI0LTIuMDk2LTEuMDIzLTIuNzI1LTEuMTM4LTEuMTk0LTIuOTMtMS43OC00LjkxNC0xLjYxNi0xLjAwMi4wODUtMS44MS40Ny0xLjgyLjQ3NGwtLjQzNi0uOWMuMDQtLjAyLjk3OC0uNDY4IDIuMTctLjU2OCAyLjI5Mi0uMiA0LjM3NS41MDggNS43MjIgMS45MjMuNzg4LjgyNyAxLjQ5IDIuMjUgMS4yODcgMy41NjctLjEzNC44NjQtLjY0IDEuNTYtMS40NjQgMi4wMTMtLjY2LjM2LTEuMzIyLjQ5LTEuOTMzLjQ5eiIvPjxwYXRoIGQ9Ik02LjA1IDEwLjYxOGMtLjAzNy0uMDIyLS45MjUtLjU2NC0xLjY2LTEuNTFDMi45ODQgNy4yOTIgMi40MzcgNS4xNiAyLjg5IDMuMjYyIDMuMTU0IDIuMTUgMy45NjYuNzgyIDUuMTguMjRjLjgtLjM1NyAxLjY2LS4zMTMgMi40ODYuMTMyIDIuMjkgMS4yMyAyLjI3NiA0LjAwNyAyLjI3NCA0LjEyNGwtMS0uMDEzYzAtLjAyMiAwLTIuMjkzLTEuNzQ4LTMuMjNDNi42NDIuOTU2IDYuMTAyLjkyIDUuNTkgMS4xNWMtLjkuNDA1LTEuNTI3IDEuNDk4LTEuNzMgMi4zNDQtLjM4IDEuNjAzLjEgMy40MjYgMS4zMiA1IC42MjIuOCAxLjM4IDEuMjY0IDEuMzg4IDEuMjdsLS41MTcuODU0eiIvPjwvZz48L3N2Zz4g'); }
      .action__selector [data-action="addtorusknot"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTMiIGhlaWdodD0iMTIuMjM3IiB2aWV3Qm94PSIwIDAgMTMgMTIuMjM3Ij48ZyBmaWxsPSIjMzMzIj48cGF0aCBkPSJNMy42MzcgMTIuMjFjLS45MjcgMC0xLjk0LS4yNDQtMi42Ny0uODU1Qy4yOTggMTAuNzkzLS4wMzUgMTAgLjAwNCA5LjA2Yy4xMDctMi41OTQgMi42MTMtMy43OTUgMi43Mi0zLjg0NWwuNDI0LjkwNWMtLjAyLjAxLTIuMDYzIDEtMi4xNDUgMi45ODMtLjAyNi42MjYuMTc4IDEuMTI2LjYwOCAxLjQ4Ni43NTUuNjMzIDIuMDEyLjcyIDIuODYuNTMzIDEuNjEtLjM1NCAzLjA0Mi0xLjU4MyAzLjkyNi0zLjM3LjQ0Ni0uOS41MzYtMS43OS41MzctMS44bC45OTYuMDkzYy0uMDA2LjA0NC0uMTA2IDEuMDc4LS42MzcgMi4xNS0xLjAyIDIuMDYtMi43IDMuNDgzLTQuNjA2IDMuOTAzLS4zMi4wNy0uNjc4LjExLTEuMDUuMTF6Ii8+PHBhdGggZD0iTTkuNTY3IDEyLjI0Yy0xLjUwMiAwLTIuNjk2LS43ODMtMi43NjYtLjgzbC41NTYtLjgzYy4wMi4wMTIgMS45MjMgMS4yNDcgMy42NjIuMjkyLjU1LS4zLjg3LS43MzUuOTU4LTEuMjkuMTUtLjk3NC0uNDI0LTIuMDk2LTEuMDIzLTIuNzI1LTEuMTM4LTEuMTk0LTIuOTMtMS43OC00LjkxNC0xLjYxNi0xLjAwMi4wODUtMS44MS40Ny0xLjgyLjQ3NGwtLjQzNi0uOWMuMDQtLjAyLjk3OC0uNDY4IDIuMTctLjU2OCAyLjI5Mi0uMiA0LjM3NS41MDggNS43MjIgMS45MjMuNzg4LjgyNyAxLjQ5IDIuMjUgMS4yODcgMy41NjctLjEzNC44NjQtLjY0IDEuNTYtMS40NjQgMi4wMTMtLjY2LjM2LTEuMzIyLjQ5LTEuOTMzLjQ5eiIvPjxwYXRoIGQ9Ik02LjA1IDEwLjYxOGMtLjAzNy0uMDIyLS45MjUtLjU2NC0xLjY2LTEuNTFDMi45ODQgNy4yOTIgMi40MzcgNS4xNiAyLjg5IDMuMjYyIDMuMTU0IDIuMTUgMy45NjYuNzgyIDUuMTguMjRjLjgtLjM1NyAxLjY2LS4zMTMgMi40ODYuMTMyIDIuMjkgMS4yMyAyLjI3NiA0LjAwNyAyLjI3NCA0LjEyNGwtMS0uMDEzYzAtLjAyMiAwLTIuMjkzLTEuNzQ4LTMuMjNDNi42NDIuOTU2IDYuMTAyLjkyIDUuNTkgMS4xNWMtLjkuNDA1LTEuNTI3IDEuNDk4LTEuNzMgMi4zNDQtLjM4IDEuNjAzLjEgMy40MjYgMS4zMiA1IC42MjIuOCAxLjM4IDEuMjY0IDEuMzg4IDEuMjdsLS41MTcuODU0eiIvPjwvZz48L3N2Zz4g'); }
    .action__selector [data-action="addsprite"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMCAxMiI+PGcgZmlsbD0iIzIxOTRDRSI+PHBhdGggZD0iTTkgMXYxMEgxVjFoOG0xLTFIMHYxMmgxMFYweiIvPjxwYXRoIGQ9Ik01Ljc3NyA3SDNWNC4xMSIvPjxwYXRoIGQ9Ik02Ljg5IDdINVY0LjQ3NiIvPjxwYXRoIGQ9Ik04IDdINi4zMzNWNS4xMjUiLz48L2c+PC9zdmc+IA=='); }
      .action__selector [data-action="addsprite"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMCAxMiI+PGcgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTkgMXYxMEgxVjFoOG0xLTFIMHYxMmgxMFYweiIvPjxwYXRoIGQ9Ik01Ljc3NyA3SDNWNC4xMSIvPjxwYXRoIGQ9Ik02Ljg5IDdINVY0LjQ3NiIvPjxwYXRoIGQ9Ik04IDdINi4zMzNWNS4xMjUiLz48L2c+PC9zdmc+IA=='); }
    .action__selector [data-action="addpointlight"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTEuMDMiIHZpZXdCb3g9IjAgMCAxMiAxMS4wMyI+PGcgZmlsbD0iIzIxOTRDRSI+PHBhdGggZD0iTTkuOTA0IDYuMTE0SDEybS0yLjA5Ni0uMjJIMTJ2LjQ0SDkuOTA0eiIvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNiAzLjEzOGMxLjYxMiAwIDIuODAyIDEuMjcgMi44MDIgMi45NzYgMCAxLjcwNC0xLjMwOCAyLjU1NS0xLjMxIDIuNTU2LS4xMjUuMDktLjIwNS4yMzgtLjIwNS40MDZ2MS42ODhjMCAuMTQ3LS41NzcuMjY3LTEuMjg2LjI2Ny0uNzEgMC0xLjI4Mi0uMTE2LTEuMjgyLS4yNjR2LTEuNjljMC0uMTY3LS4wODItLjMxNS0uMjA3LS40MDYtLjAwMy0uMDAzLTEuMzEtLjg1NC0xLjMxLTIuNTU4IDAtMS43MDcgMS4xOS0yLjk3NSAyLjgtMi45NzV6Ii8+PHBhdGggZD0iTTYgMi4xMzVWMG0tLjIxNyAwaC40MzR2Mi4xMzVoLS40MzR6bTIuOTE0IDMuMzY1bDEuMjYtMS4yODNNOC44NSAzLjUybC0uMzA2LS4zMSAxLjI2LTEuMjgzLjMwNS4zMU04LjY5NiA4Ljg2NGwxLjI2IDEuMjgybS0uMTU0LjE1N0w4LjU0MyA5LjAybC4zMS0uMzEzTDEwLjExIDkuOTlNMy4zIDguODYzbC0xLjI1NyAxLjI4M20uMTU0LjE1NkwxLjg5IDkuOTlsMS4yNi0xLjI4My4zMDguMzEyTTIuMDk1IDYuMTEzSDBtMC0uMjJoMi4wOTV2LjQ0SDB6bTMuMzAzLTIuNTNsLTEuMjYtMS4yOE0zLjE1IDMuNTJMMS44OSAyLjI0bC4zMDctLjMxIDEuMjYgMS4yODIiLz48L2c+PC9zdmc+IA=='); }
      .action__selector [data-action="addpointlight"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTEuMDMiIHZpZXdCb3g9IjAgMCAxMiAxMS4wMyI+PGcgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTkuOTA0IDYuMTE0SDEybS0yLjA5Ni0uMjJIMTJ2LjQ0SDkuOTA0eiIvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNiAzLjEzOGMxLjYxMiAwIDIuODAyIDEuMjcgMi44MDIgMi45NzYgMCAxLjcwNC0xLjMwOCAyLjU1NS0xLjMxIDIuNTU2LS4xMjUuMDktLjIwNS4yMzgtLjIwNS40MDZ2MS42ODhjMCAuMTQ3LS41NzcuMjY3LTEuMjg2LjI2Ny0uNzEgMC0xLjI4Mi0uMTE2LTEuMjgyLS4yNjR2LTEuNjljMC0uMTY3LS4wODItLjMxNS0uMjA3LS40MDYtLjAwMy0uMDAzLTEuMzEtLjg1NC0xLjMxLTIuNTU4IDAtMS43MDcgMS4xOS0yLjk3NSAyLjgtMi45NzV6Ii8+PHBhdGggZD0iTTYgMi4xMzVWMG0tLjIxNyAwaC40MzR2Mi4xMzVoLS40MzR6bTIuOTE0IDMuMzY1bDEuMjYtMS4yODNNOC44NSAzLjUybC0uMzA2LS4zMSAxLjI2LTEuMjgzLjMwNS4zMU04LjY5NiA4Ljg2NGwxLjI2IDEuMjgybS0uMTU0LjE1N0w4LjU0MyA5LjAybC4zMS0uMzEzTDEwLjExIDkuOTlNMy4zIDguODYzbC0xLjI1NyAxLjI4M20uMTU0LjE1NkwxLjg5IDkuOTlsMS4yNi0xLjI4My4zMDguMzEyTTIuMDk1IDYuMTEzSDBtMC0uMjJoMi4wOTV2LjQ0SDB6bTMuMzAzLTIuNTNsLTEuMjYtMS4yOE0zLjE1IDMuNTJMMS44OSAyLjI0bC4zMDctLjMxIDEuMjYgMS4yODIiLz48L2c+PC9zdmc+IA=='); }
    .action__selector [data-action="addperspectivecamera"] {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIuMjg2IiBoZWlnaHQ9IjguMzY1IiB2aWV3Qm94PSIwIDAgMTIuMjg2IDguMzY1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzIxOTRDRSIgZD0iTS40OTMgMi44ODNoNS43MDNjLjI3IDAgLjQ5NC4yMjIuNDk0LjQ5NFY3Ljc3YzAgLjI3LS4yMjIuNDkzLS40OTQuNDkzSC40OTNDLjIyMyA4LjI2MyAwIDguMDQgMCA3Ljc3VjMuMzc3YzAtLjI3My4yMjItLjQ5NC40OTMtLjQ5NHoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzIxOTRDRSIgZD0iTTYuNDYgNC40OGwxLjc4LS4zNDZjLjI2LS4wNS40ODQuMjIuNDg0LjQ4NXYxLjkwNWMwIC4yNjctLjIyNC41MzYtLjQ4NS40ODVsLTEuNzgtLjM0NFY0LjQ4ek0xLjc2IDBjLjg2NSAwIDEuNTY1LjcgMS41NjUgMS41NjQgMCAuODY1LS43IDEuNTY2LTEuNTY1IDEuNTY2Uy4xOTQgMi40My4xOTQgMS41NjRDLjE5NC43Ljg5NCAwIDEuNzYgMHoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzIxOTRDRSIgZD0iTTQuNzUyIDBjLjg2NSAwIDEuNTY2LjcgMS41NjYgMS41NjQgMCAuODY1LS43IDEuNTY2LTEuNTY2IDEuNTY2cy0xLjU2NS0uNy0xLjU2NS0xLjU2NkMzLjE4Ny43IDMuODg3IDAgNC43NTIgMHoiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMyMTk0Q0UiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTkuMjQgNC40MjVsMi41NDYtLjg5VjcuNjhMOS4xMiA2LjgzIi8+PC9zdmc+IA=='); }
      .action__selector [data-action="addperspectivecamera"]:hover {
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIuMjg2IiBoZWlnaHQ9IjguMzY1IiB2aWV3Qm94PSIwIDAgMTIuMjg2IDguMzY1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzMzMyIgZD0iTS40OTMgMi44ODNoNS43MDNjLjI3IDAgLjQ5NC4yMjIuNDk0LjQ5NFY3Ljc3YzAgLjI3LS4yMjIuNDkzLS40OTQuNDkzSC40OTNDLjIyMyA4LjI2MyAwIDguMDQgMCA3Ljc3VjMuMzc3YzAtLjI3My4yMjItLjQ5NC40OTMtLjQ5NHoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzMzMyIgZD0iTTYuNDYgNC40OGwxLjc4LS4zNDZjLjI2LS4wNS40ODQuMjIuNDg0LjQ4NXYxLjkwNWMwIC4yNjctLjIyNC41MzYtLjQ4NS40ODVsLTEuNzgtLjM0NFY0LjQ4ek0xLjc2IDBjLjg2NSAwIDEuNTY1LjcgMS41NjUgMS41NjQgMCAuODY1LS43IDEuNTY2LTEuNTY1IDEuNTY2Uy4xOTQgMi40My4xOTQgMS41NjRDLjE5NC43Ljg5NCAwIDEuNzYgMHoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzMzMyIgZD0iTTQuNzUyIDBjLjg2NSAwIDEuNTY2LjcgMS41NjYgMS41NjQgMCAuODY1LS43IDEuNTY2LTEuNTY2IDEuNTY2cy0xLjU2NS0uNy0xLjU2NS0xLjU2NkMzLjE4Ny43IDMuODg3IDAgNC43NTIgMHoiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTkuMjQgNC40MjVsMi41NDYtLjg5VjcuNjhMOS4xMiA2LjgzIi8+PC9zdmc+IA=='); }
    .action__selector__options {
      display: none;
      position: absolute;
      background-color: #2e2e2e;
      border: 1px solid #444;
      border-radius: 0 5px 5px 5px;
      margin-top: -1px; }
      .action__selector__options::before {
        content: "";
        display: block;
        width: 38px;
        height: 1px;
        background-color: #2e2e2e;
        margin-top: -1px;
        position: absolute;
        z-index: 999; }
      .action__selector__options--option {
        padding: 11px 8px 7px 27px;
        background-repeat: no-repeat;
        background-position: 8px 50%;
        font-size: 12px;
        line-height: 12px;
        color: #CCC;
        cursor: pointer; }
        .action__selector__options--option:first-child {
          border-radius: 0 4px 0 0; }
        .action__selector__options--option:last-child {
          border-radius: 0 0 4px 4px; }
        .action__selector__options--option:hover {
          background-color: #2194CE;
          color: #333; }
  .action__play {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2194CE;
    padding: 8px 8px 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTguNDkiIGhlaWdodD0iMjIuMTA3IiB2aWV3Qm94PSIwIDAgMTguNDkgMjIuMTA3Ij48cGF0aCBmaWxsPSIjMjE5NENFIiBkPSJNMCAwbDE4LjQ5IDExLjA1M0wwIDIyLjEwNyIvPjwvc3ZnPg==') no-repeat 60% 50%; }
    .action__play:hover {
      background-color: #222; }
    .action__play:active {
      background-color: #2194CE;
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTguNDkiIGhlaWdodD0iMjIuMTA3IiB2aWV3Qm94PSIwIDAgMTguNDkgMjIuMTA3Ij48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMCAwbDE4LjQ5IDExLjA1M0wwIDIyLjEwNyIvPjwvc3ZnPiA='); }

.scene-viewport {
  width: 100%;
  background: url("images/nautilao-colado.png") center bottom no-repeat #AAA;
  background-size: 100%; }

.sidebar {
  background-color: #111;
  height: calc( 100vh - 100px);
  overflow-y: scroll;
  overflow-x: auto;
  position: relative; }
  .sidebar::-webkit-scrollbar {
    display: none; }
  .sidebar .resize-control {
    width: 5px;
    height: 100%;
    background-color: #666;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 600;
    cursor: col-resize; }
  .sidebar__container {
    margin-left: 5px;
    min-height: 100%; }
  .sidebar__panel {
    margin-bottom: 1px; }
    .sidebar__panel--trigger {
      font-size: 14px;
      font-weight: 500;
      padding: 10px 8px;
      color: #999;
      background-color: #444;
      position: relative;
      cursor: pointer; }
      .sidebar__panel--trigger::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 10px;
        background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNS45OTciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCA1Ljk5NyAxMiI+PHBhdGggZmlsbD0iIzg4OCIgZD0iTTAgMHYxMmw1Ljk5Ny01Ljc5Ii8+PC9zdmc+IA==');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        right: 15px;
        top: 13px; }
    .sidebar__panel.active .sidebar__panel--trigger::after {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .sidebar__panel--content {
      display: none;
      background-color: #333;
      padding: 10px;
      -webkit-transform-origin: center 0;
              transform-origin: center 0; }
    .sidebar__panel.active .sidebar__panel--content {
      display: block;
      -webkit-animation: panelExpand 0.3s ease 1;
              animation: panelExpand 0.3s ease 1; }
    .sidebar__panel .scene__panel {
      background-color: #222;
      min-height: 25vh; }
      .sidebar__panel .scene__panel .scene__panel__icon {
        top: 7px;
        left: 15px;
        position: absolute;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer; }
        .sidebar__panel .scene__panel .scene__panel__icon.hide-n-show {
          background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTEuODU0IiBoZWlnaHQ9IjcuMjciIHZpZXdCb3g9IjAgMCAxMS44NTQgNy4yNyI+PGcgZmlsbD0iIzg4OCI+PHBhdGggZD0iTTUuOTI3IDYuMTgzYy0xLjQxOCAwLTIuNTcyLTEuMTU0LTIuNTcyLTIuNTczIDAtMS40MTggMS4xNTQtMi41NzIgMi41NzItMi41NzIgMS40MiAwIDIuNTczIDEuMTU0IDIuNTczIDIuNTcyIDAgMS40MTgtMS4xNTQgMi41NzMtMi41NzMgMi41NzN6bTAtNC4xNDZjLS44NjcgMC0xLjU3Mi43MDUtMS41NzIgMS41NzJzLjcwNSAxLjU3MyAxLjU3MiAxLjU3M1M3LjUgNC40NzcgNy41IDMuNjFzLS43MDYtMS41NzMtMS41NzMtMS41NzN6Ii8+PHBhdGggZD0iTTUuOTI3IDcuMjdjLTIuMzgyIDAtNC42LTEuMjktNS43ODYtMy4zNjNMMCAzLjY2MmwuMTM3LS4yNDZDMS4zMDQgMS4zMSAzLjUyMiAwIDUuOTI3IDBjMi40MDMgMCA0LjYyMyAxLjMxIDUuNzkgMy40MTZsLjEzOC4yNDYtLjE0LjI0NEMxMC41MjQgNS45OCA4LjMwOCA3LjI3IDUuOTI2IDcuMjd6bS00Ljc3LTMuNjE2YzEuMDM4IDEuNjIgMi44NCAyLjYxNiA0Ljc3IDIuNjE2IDEuOTMgMCAzLjczLS45OTUgNC43Ny0yLjYxNUM5LjY3NiAyLjAxIDcuODczIDEgNS45MjggMVMyLjE4IDIuMDEgMS4xNTcgMy42NTR6Ii8+PC9nPjwvc3ZnPiA='); }
          .sidebar__panel .scene__panel .scene__panel__icon.hide-n-show:hover {
            background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTEuODU0IiBoZWlnaHQ9IjguMTkyIiB2aWV3Qm94PSIwIDAgMTEuODU0IDguMTkyIj48ZyBmaWxsPSIjODg4Ij48cGF0aCBkPSJNOS40NDUtLjAwMmwuNy43MTNMMi41NCA4LjE5NGwtLjcwMi0uNzEzeiIvPjxwYXRoIGQ9Ik00LjE5MyA2LjU1Yy0xLjIzNS0uNC0yLjMyLTEuMjEtMy4wMzctMi4zM0MyLjE4IDIuNTc4IDMuOTggMS41NjggNS45MjYgMS41NjhjLjkyNCAwIDEuODEyLjIzMyAyLjYwMy42NDdsLjczOC0uNzRDOC4yNy44OTMgNy4xMjIuNTY4IDUuOTI4LjU2OGMtMi40MDQgMC00LjYyMyAxLjMxLTUuNzkgMy40MTVMMCA0LjIzbC4xNC4yNDRjLjc1IDEuMzEgMS45MTQgMi4zMDUgMy4yNyAyLjg2bC43ODMtLjc4NHpNMTEuNzE4IDMuOTgyYy0uNDAzLS43MjctLjk0LTEuMzQ3LTEuNTU3LTEuODYybC0uNzEuNzFjLjQ4LjM5LjkxLjg1IDEuMjQ4IDEuMzktMS4wNCAxLjYyLTIuODQyIDIuNjE2LTQuNzcgMi42MTYtLjE1OCAwLS4zMTMtLjAxNS0uNDY4LS4wM2wtLjg3OC44NzVjLjQ0LjA5NC44ODcuMTU2IDEuMzQ1LjE1NiAyLjM4MiAwIDQuNi0xLjI4OCA1Ljc4OC0zLjM2MmwuMTQtLjI0NS0uMTM3LS4yNDh6Ii8+PHBhdGggZD0iTTQuNTgyIDYuMTk1bC43MzUtLjczM2MtLjQ4LS4yMy0uODE3LS43MTctLjgxNy0xLjI4NSAwLS43ODcuNjQtMS40MjggMS40MjctMS40MjguNTcgMCAxLjA2LjMzNyAxLjI4OC44MmwuNzM0LS43M2MtLjQzNy0uNjU3LTEuMTgtMS4wOS0yLjAyMy0xLjA5LTEuMzQgMC0yLjQyNyAxLjA4OC0yLjQyNyAyLjQyNyAwIC44NC40MyAxLjU4MiAxLjA4MiAyLjAxOHpNNS42ODcgNi41OGMuMDguMDA4LjE1OC4wMjQuMjQuMDI0IDEuMzQgMCAyLjQyOC0xLjA5IDIuNDI4LTIuNDI4IDAtLjA4LS4wMTYtLjE1NC0uMDIzLS4yMzJMNS42ODcgNi41OHoiLz48L2c+PC9zdmc+IA=='); }
      .sidebar__panel .scene__panel--item {
        background-color: #2c2c2c;
        border: 1px solid #444;
        font-size: 11px;
        color: #999;
        font-family: "Fira Mono", arial;
        padding: 10px 10px 10px 35px;
        margin-bottom: -1px;
        position: relative;
        cursor: -webkit-grab;
        cursor: grab; }
        .sidebar__panel .scene__panel--item:active {
          cursor: -webkit-grabbing;
          cursor: grabbing; }
        .sidebar__panel .scene__panel--item[data-index="1"] {
          box-shadow: 5px 0 #61C6EC inset; }
        .sidebar__panel .scene__panel--item[data-index="2"] {
          box-shadow: 5px 0 #A7FFA4 inset; }
        .sidebar__panel .scene__panel--item[data-index="3"] {
          box-shadow: 5px 0 #FDE756 inset; }
        .sidebar__panel .scene__panel--item[data-index="4"] {
          box-shadow: 5px 0 #F68658 inset; }
        .sidebar__panel .scene__panel--item[data-index="5"] {
          box-shadow: 5px 0 #D8B2DE inset; }
        .sidebar__panel .scene__panel--item.active {
          background-color: #BBB; }
          .sidebar__panel .scene__panel--item.active .scene__panel--name {
            color: #1b1b1b;
            font-weight: 600; }
          .sidebar__panel .scene__panel--item.active .scene__panel__icon {
            background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTEuODU0IiBoZWlnaHQ9IjcuMjciIHZpZXdCb3g9IjAgMCAxMS44NTQgNy4yNyI+PGcgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTUuOTI3IDYuMTgzYy0xLjQxOCAwLTIuNTcyLTEuMTU0LTIuNTcyLTIuNTczIDAtMS40MTggMS4xNTQtMi41NzIgMi41NzItMi41NzIgMS40MiAwIDIuNTczIDEuMTU0IDIuNTczIDIuNTcyIDAgMS40MTgtMS4xNTQgMi41NzMtMi41NzMgMi41NzN6bTAtNC4xNDZjLS44NjcgMC0xLjU3Mi43MDUtMS41NzIgMS41NzJzLjcwNSAxLjU3MyAxLjU3MiAxLjU3M1M3LjUgNC40NzcgNy41IDMuNjFzLS43MDYtMS41NzMtMS41NzMtMS41NzN6Ii8+PHBhdGggZD0iTTUuOTI3IDcuMjdjLTIuMzgyIDAtNC42LTEuMjktNS43ODYtMy4zNjNMMCAzLjY2MmwuMTM3LS4yNDZDMS4zMDQgMS4zMSAzLjUyMiAwIDUuOTI3IDBjMi40MDMgMCA0LjYyMyAxLjMxIDUuNzkgMy40MTZsLjEzOC4yNDYtLjE0LjI0NEMxMC41MjQgNS45OCA4LjMwOCA3LjI3IDUuOTI2IDcuMjd6bS00Ljc3LTMuNjE2YzEuMDM4IDEuNjIgMi44NCAyLjYxNiA0Ljc3IDIuNjE2IDEuOTMgMCAzLjczLS45OTUgNC43Ny0yLjYxNUM5LjY3NiAyLjAxIDcuODczIDEgNS45MjggMVMyLjE4IDIuMDEgMS4xNTcgMy42NTR6Ii8+PC9nPjwvc3ZnPiA='); }
      .sidebar__panel .scene__panel--name {
        display: inline-block;
        width: 100%; }
      .sidebar__panel .scene__panel--title {
        display: inline-block;
        width: 100%;
        font-style: italic;
        color: #666;
        margin-top: 3px; }
    .sidebar__panel .inputs__panel {
      padding: 10px 5px;
      font-family: "Fira Mono", monospaced; }
      .sidebar__panel .inputs__panel--line {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px; }
        .sidebar__panel .inputs__panel--line:last-child {
          margin-bottom: 0; }
      .sidebar__panel .inputs__panel--inputs {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        width: 100%; }
      .sidebar__panel .inputs__panel--label {
        font-size: 11px;
        color: #999;
        width: 100px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        margin-right: 10px;
        padding: 6px 0; }
        .sidebar__panel .inputs__panel--label label {
          display: block; }
        .sidebar__panel .inputs__panel--label.buttons {
          padding-top: 10px; }
      .sidebar__panel .inputs__panel--button {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #555;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        cursor: pointer; }
        .sidebar__panel .inputs__panel--button[data-action="align"] {
          background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOSIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDkgMTQiPjxwYXRoIGZpbGw9IiMyMTk0Q0UiIGQ9Ik04Ljk4MiAyLjUxOEg1LjA1NVYtLjFoLTEuMzF2Mi42MThILS4xODJ2OS4xNjRoMy45MjdWMTQuM2gxLjMxdi0yLjYxOGgzLjkyNyIvPjwvc3ZnPiA='); }
          .sidebar__panel .inputs__panel--button[data-action="align"]:hover {
            background-color: #2194CE;
            background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOSIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDkgMTQiPjxwYXRoIGZpbGw9IiMzMzMiIGQ9Ik04Ljk4MiAyLjUxOEg1LjA1NVYtLjFoLTEuMzF2Mi42MThILS4xODJ2OS4xNjRoMy45MjdWMTQuM2gxLjMxdi0yLjYxOGgzLjkyNyIvPjwvc3ZnPiA='); }
        .sidebar__panel .inputs__panel--button[data-action="rotate"] {
          background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMTk0Q0UiIGQ9Ik05LjA4MiAxNVY5LjA4OGMuNjkuNjkyIDEuMzU3IDEuMzY1IDIuMDI1IDIuMDM4IDEuNzU3LTEuNjU2IDIuMTktNC43OTUuMjQyLTcuMDE4LTEuOTQyLTIuMjE2LTUuMzg1LTIuMzM2LTcuNDYzLS4yNDgtMS4xNSAxLjE1Ni0xLjY1IDIuNTYzLTEuNDgyIDQuMTg0LjE3IDEuNjI0Ljk4NiAyLjg2OCAyLjMxNiAzLjc4TDMuMDIzIDEzLjUxYy0uNDg4LS4zNi0uOTM4LS43ODYtMS4zMzMtMS4yNzNDLjcxIDExLjAzLjE1IDkuNjQ3LjAyNSA4LjA5NC4wMiA4LjA1My4wMSA4LjAxIDAgNy45N3YtLjk0Yy4wMy0uMjQ1LjA1NS0uNDkyLjA5Ni0uNzM4LjM0LTEuOTY1IDEuMzA0LTMuNTYgMi44ODUtNC43NzVDMy45NC43OCA1LjAyOC4zMSA2LjIyMy4xMWMuMjY4LS4wNDUuNTQtLjA3NC44MS0uMTFoLjkzN2MuMDMyLjAwNy4wNjMuMDIuMDk4LjAyMiAxLjEzMi4wODIgMi4xOTQuMzk2IDMuMTcuOTggMS45OTUgMS4xODUgMy4yMTggMi45MTggMy42NDcgNS4yMDMuMDUyLjI3NS4wNzguNTUzLjExNS44MjZ2Ljk0Yy0uMDA4LjAzNS0uMDIuMDc0LS4wMjUuMTEtLjE0NiAxLjc5Ni0uODU0IDMuMzM4LTIuMDkgNC42NC0uMDI2LjAyNi0uMDQ4LjA2LS4wNzQuMDkuNzE4LjcyIDEuNDMgMS40MyAyLjE0MiAyLjE0LjAxMi4wMTIuMDMuMDE0LjA1LjAyLS4wNC4wMS0uMDguMDMtLjExOC4wM0g5LjA4MnoiLz48L3N2Zz4g'); }
          .sidebar__panel .inputs__panel--button[data-action="rotate"]:hover {
            background-color: #2194CE;
            background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMzMzMiIGQ9Ik05LjA4MiAxNVY5LjA4OGMuNjkuNjkyIDEuMzU3IDEuMzY1IDIuMDI1IDIuMDM4IDEuNzU3LTEuNjU2IDIuMTktNC43OTUuMjQyLTcuMDE4LTEuOTQyLTIuMjE2LTUuMzg1LTIuMzM2LTcuNDYzLS4yNDgtMS4xNSAxLjE1Ni0xLjY1IDIuNTYzLTEuNDgyIDQuMTg0LjE3IDEuNjI0Ljk4NiAyLjg2OCAyLjMxNiAzLjc4TDMuMDIzIDEzLjUxYy0uNDg4LS4zNi0uOTM4LS43ODYtMS4zMzMtMS4yNzNDLjcxIDExLjAzLjE1IDkuNjQ3LjAyNSA4LjA5NC4wMiA4LjA1My4wMSA4LjAxIDAgNy45N3YtLjk0Yy4wMy0uMjQ1LjA1NS0uNDkyLjA5Ni0uNzM4LjM0LTEuOTY1IDEuMzA0LTMuNTYgMi44ODUtNC43NzVDMy45NC43OCA1LjAyOC4zMSA2LjIyMy4xMWMuMjY4LS4wNDUuNTQtLjA3NC44MS0uMTFoLjkzN2MuMDMyLjAwNy4wNjMuMDIuMDk4LjAyMiAxLjEzMi4wODIgMi4xOTQuMzk2IDMuMTcuOTggMS45OTUgMS4xODUgMy4yMTggMi45MTggMy42NDcgNS4yMDMuMDUyLjI3NS4wNzguNTUzLjExNS44MjZ2Ljk0Yy0uMDA4LjAzNS0uMDIuMDc0LS4wMjUuMTEtLjE0NiAxLjc5Ni0uODU0IDMuMzM4LTIuMDkgNC42NC0uMDI2LjAyNi0uMDQ4LjA2LS4wNzQuMDkuNzE4LjcyIDEuNDMgMS40MyAyLjE0MiAyLjE0LjAxMi4wMTIuMDMuMDE0LjA1LjAyLS4wNC4wMS0uMDguMDMtLjExOC4wM0g5LjA4MnoiLz48L3N2Zz4g'); }
        .sidebar__panel .inputs__panel--button[data-action="flatten"] {
          background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUuMzg0IiBoZWlnaHQ9IjEwLjYzNSIgdmlld0JveD0iMCAwIDE1LjM4NCAxMC42MzUiPjxnIGZpbGw9IiMyMTk0Q0UiPjxwYXRoIGQ9Ik03LjYxNSAxMC42MzVMMCA2LjY4NSAzLjIyNSA1LjUyIDcuNjIgNy43OTZsNC41Ny0yLjMyIDMuMTk0IDEuMjE2LTcuNzcgMy45NDN6TTEuNDQ1IDYuNzhMNy42MiA5Ljk3N2w2LjMzLTMuMjEyLTEuNzI0LS42NTQtNC42MSAyLjM0TDMuMTgyIDYuMTVsLTEuNzM0LjYzeiIvPjxwYXRoIGQ9Ik03LjYxNSA4LjQ1TDAgNC41MDNsMy4yMjUtMS4xNjggNC4zOTQgMi4yOCA0LjU3LTIuMzIgMy4xOTQgMS4yMTQtNy43NyAzLjk0M3ptLTYuMTctMy44NTVsNi4xNzMgMy4yIDYuMzMtMy4yMTItMS43MjQtLjY1NC00LjYxIDIuMzQtNC40MzMtMi4zMDItMS43MzQuNjI3eiIvPjwvZz48cGF0aCBmaWxsPSIjMjE5NENFIiBkPSJNOC45NSAxLjMxNFYuMTY2SDYuNjRWMS4zMWwtMi45NS0uMDA3TDcuNjY4IDUuMjZsNC4wODQtMy45MzciLz48L3N2Zz4g'); }
          .sidebar__panel .inputs__panel--button[data-action="flatten"]:hover {
            background-color: #2194CE;
            background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUuMzg0IiBoZWlnaHQ9IjEwLjYzNSIgdmlld0JveD0iMCAwIDE1LjM4NCAxMC42MzUiPjxnIGZpbGw9IiMzMzMiPjxwYXRoIGQ9Ik03LjYxNSAxMC42MzVMMCA2LjY4NSAzLjIyNSA1LjUyIDcuNjIgNy43OTZsNC41Ny0yLjMyIDMuMTk0IDEuMjE2LTcuNzcgMy45NDN6TTEuNDQ1IDYuNzhMNy42MiA5Ljk3N2w2LjMzLTMuMjEyLTEuNzI0LS42NTQtNC42MSAyLjM0TDMuMTgyIDYuMTVsLTEuNzM0LjYzeiIvPjxwYXRoIGQ9Ik03LjYxNSA4LjQ1TDAgNC41MDNsMy4yMjUtMS4xNjggNC4zOTQgMi4yOCA0LjU3LTIuMzIgMy4xOTQgMS4yMTQtNy43NyAzLjk0M3ptLTYuMTctMy44NTVsNi4xNzMgMy4yIDYuMzMtMy4yMTItMS43MjQtLjY1NC00LjYxIDIuMzQtNC40MzMtMi4zMDItMS43MzQuNjI3eiIvPjwvZz48cGF0aCBmaWxsPSIjMzMzIiBkPSJNOC45NSAxLjMxNFYuMTY2SDYuNjRWMS4zMWwtMi45NS0uMDA3TDcuNjY4IDUuMjZsNC4wODQtMy45MzciLz48L3N2Zz4g'); }
      .sidebar__panel .inputs__panel--input {
        color: #2194CE;
        border: 0;
        padding: 0;
        width: 100%;
        font-family: "Fira Mono", monospaced;
        font-size: 11px;
        background-color: #444;
        margin-right: 10px;
        padding: 2px 4px; }
        .sidebar__panel .inputs__panel--input:last-child {
          margin-right: 0; }
        .sidebar__panel .inputs__panel--input.number {
          text-align: center; }
          .sidebar__panel .inputs__panel--input.number.alone {
            width: 36px;
            -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                    flex-shrink: 0; }
        .sidebar__panel .inputs__panel--input.gray {
          color: #999; }
      .sidebar__panel .inputs__panel .checkbox input {
        width: 20px;
        height: 20px; }
      .sidebar__panel .inputs__panel select {
        background-color: #444;
        border: 0;
        color: #2194CE;
        font-size: 11px;
        padding: 4px; }
      .sidebar__panel .inputs__panel textarea {
        text-align: left;
        padding: 4px;
        resize: vertical; }
      .sidebar__panel .inputs__panel--color {
        width: 40px;
        height: 30px;
        border: 0;
        padding: 0;
        -webkit-appearance: none;
        background-color: transparent;
        border-image: none;
        border-image-width: 0;
        display: block;
        margin: -4px -2px; }

.ghost {
  opacity: 0.5; }

@-webkit-keyframes panelExpand {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes panelExpand {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.tools {
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-color: #333;
  padding: 5px 15px; }
  .tools__set {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: block;
    padding: 8px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #444;
    margin-right: 5px; }
    .tools__set:hover {
      background-color: #2194CE; }
  .tools [data-tool="tooltranslate"] {
    background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSI+PGcgZmlsbD0iIzIxOTRDRSI+PHBhdGggZD0iTTcuNjEgMTBjLS41NTQgMC0xLS40NDctMS0xVjFjMC0uNTUzLjQ0Ni0xIDEtMXMxIC40NDcgMSAxdjhjMCAuNTUzLS40NDggMS0xIDF6Ii8+PHBhdGggZD0iTTEgMTVjLS4yODcgMC0uNTczLS4xMjQtLjc3LS4zNjMtLjM1My0uNDI2LS4yOTItMS4wNTcuMTM0LTEuNDA4TDYuOTEgNy44MjVjLjQyNS0uMzUgMS4wNTYtLjI5IDEuNDA2LjEzNS4zNTIuNDI3LjI5MiAxLjA1OC0uMTM0IDEuNDFMMS42MzcgMTQuNzdDMS40NSAxNC45MjUgMS4yMjUgMTUgMSAxNXoiLz48cGF0aCBkPSJNMTQgMTQuOTI4Yy0uMjI1IDAtLjQ1LS4wNzUtLjYzNy0uMjNMNi45MDggOS4zN2MtLjQyNi0uMzUyLS40ODYtLjk4Mi0uMTM1LTEuNDA4LjM1Mi0uNDI1Ljk4Mi0uNDg0IDEuNDA4LS4xMzVsNi40NTYgNS4zM2MuNDI2LjM1NC40ODYuOTgzLjEzNSAxLjQxLS4xOTcuMjQtLjQ4My4zNjMtLjc3LjM2M3oiLz48L2c+PC9zdmc+IA=='); }
    .tools [data-tool="tooltranslate"]:hover {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSI+PGcgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTcuNjEgMTBjLS41NTQgMC0xLS40NDctMS0xVjFjMC0uNTUzLjQ0Ni0xIDEtMXMxIC40NDcgMSAxdjhjMCAuNTUzLS40NDggMS0xIDF6Ii8+PHBhdGggZD0iTTEgMTVjLS4yODcgMC0uNTczLS4xMjQtLjc3LS4zNjMtLjM1My0uNDI2LS4yOTItMS4wNTcuMTM0LTEuNDA4TDYuOTEgNy44MjVjLjQyNS0uMzUgMS4wNTYtLjI5IDEuNDA2LjEzNS4zNTIuNDI3LjI5MiAxLjA1OC0uMTM0IDEuNDFMMS42MzcgMTQuNzdDMS40NSAxNC45MjUgMS4yMjUgMTUgMSAxNXoiLz48cGF0aCBkPSJNMTQgMTQuOTI4Yy0uMjI1IDAtLjQ1LS4wNzUtLjYzNy0uMjNMNi45MDggOS4zN2MtLjQyNi0uMzUyLS40ODYtLjk4Mi0uMTM1LTEuNDA4LjM1Mi0uNDI1Ljk4Mi0uNDg0IDEuNDA4LS4xMzVsNi40NTYgNS4zM2MuNDI2LjM1NC40ODYuOTgzLjEzNSAxLjQxLS4xOTcuMjQtLjQ4My4zNjMtLjc3LjM2M3oiLz48L2c+PC9zdmc+IA=='); }
  .tools [data-tool="toolrotate"] {
    background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMTk0Q0UiIGQ9Ik05LjA4MiAxNVY5LjA4OGMuNjkuNjkyIDEuMzU3IDEuMzY1IDIuMDI1IDIuMDM4IDEuNzU3LTEuNjU2IDIuMTktNC43OTUuMjQyLTcuMDE4LTEuOTQyLTIuMjE2LTUuMzg1LTIuMzM2LTcuNDYzLS4yNDgtMS4xNSAxLjE1Ni0xLjY1IDIuNTYzLTEuNDgyIDQuMTg0LjE3IDEuNjI0Ljk4NiAyLjg2OCAyLjMxNiAzLjc4TDMuMDIzIDEzLjUxYy0uNDg4LS4zNi0uOTM4LS43ODYtMS4zMzMtMS4yNzNDLjcxIDExLjAzLjE1IDkuNjQ3LjAyNSA4LjA5NC4wMiA4LjA1My4wMSA4LjAxIDAgNy45N3YtLjk0Yy4wMy0uMjQ1LjA1NS0uNDkyLjA5Ni0uNzM4LjM0LTEuOTY1IDEuMzA0LTMuNTYgMi44ODUtNC43NzVDMy45NC43OCA1LjAyOC4zMSA2LjIyMy4xMWMuMjY4LS4wNDUuNTQtLjA3NC44MS0uMTFoLjkzN2MuMDMyLjAwNy4wNjMuMDIuMDk4LjAyMiAxLjEzMi4wODIgMi4xOTQuMzk2IDMuMTcuOTggMS45OTUgMS4xODUgMy4yMTggMi45MTggMy42NDcgNS4yMDMuMDUyLjI3NS4wNzguNTUzLjExNS44MjZ2Ljk0Yy0uMDA4LjAzNS0uMDIuMDc0LS4wMjUuMTEtLjE0NiAxLjc5Ni0uODU0IDMuMzM4LTIuMDkgNC42NC0uMDI2LjAyNi0uMDQ4LjA2LS4wNzQuMDkuNzE4LjcyIDEuNDMgMS40MyAyLjE0MiAyLjE0LjAxMi4wMTIuMDMuMDE0LjA1LjAyLS4wNC4wMS0uMDguMDMtLjExOC4wM0g5LjA4MnoiLz48L3N2Zz4g'); }
    .tools [data-tool="toolrotate"]:hover {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMzMzMiIGQ9Ik05LjA4MiAxNVY5LjA4OGMuNjkuNjkyIDEuMzU3IDEuMzY1IDIuMDI1IDIuMDM4IDEuNzU3LTEuNjU2IDIuMTktNC43OTUuMjQyLTcuMDE4LTEuOTQyLTIuMjE2LTUuMzg1LTIuMzM2LTcuNDYzLS4yNDgtMS4xNSAxLjE1Ni0xLjY1IDIuNTYzLTEuNDgyIDQuMTg0LjE3IDEuNjI0Ljk4NiAyLjg2OCAyLjMxNiAzLjc4TDMuMDIzIDEzLjUxYy0uNDg4LS4zNi0uOTM4LS43ODYtMS4zMzMtMS4yNzNDLjcxIDExLjAzLjE1IDkuNjQ3LjAyNSA4LjA5NC4wMiA4LjA1My4wMSA4LjAxIDAgNy45N3YtLjk0Yy4wMy0uMjQ1LjA1NS0uNDkyLjA5Ni0uNzM4LjM0LTEuOTY1IDEuMzA0LTMuNTYgMi44ODUtNC43NzVDMy45NC43OCA1LjAyOC4zMSA2LjIyMy4xMWMuMjY4LS4wNDUuNTQtLjA3NC44MS0uMTFoLjkzN2MuMDMyLjAwNy4wNjMuMDIuMDk4LjAyMiAxLjEzMi4wODIgMi4xOTQuMzk2IDMuMTcuOTggMS45OTUgMS4xODUgMy4yMTggMi45MTggMy42NDcgNS4yMDMuMDUyLjI3NS4wNzguNTUzLjExNS44MjZ2Ljk0Yy0uMDA4LjAzNS0uMDIuMDc0LS4wMjUuMTEtLjE0NiAxLjc5Ni0uODU0IDMuMzM4LTIuMDkgNC42NC0uMDI2LjAyNi0uMDQ4LjA2LS4wNzQuMDkuNzE4LjcyIDEuNDMgMS40MyAyLjE0MiAyLjE0LjAxMi4wMTIuMDMuMDE0LjA1LjAyLS4wNC4wMS0uMDguMDMtLjExOC4wM0g5LjA4MnoiLz48L3N2Zz4g'); }
  .tools [data-tool="toolscale"] {
    background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUuNTM4IiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgMTUuNTM4IDE1Ij48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzIxOTRDRSI+PHBhdGggZD0iTTQuNTM4IDBoMTF2MTIiLz48cGF0aCBkPSJNMTEuNzE4LjE4bDMuMSAzLjEwM0wzLjEwMyAxNSAwIDExLjl6Ii8+PC9nPjwvc3ZnPiA='); }
    .tools [data-tool="toolscale"]:hover {
      background-image: url('data:image/svg+xml;base64, IDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUuNTM4IiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgMTUuNTM4IDE1Ij48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTQuNTM4IDBoMTF2MTIiLz48cGF0aCBkPSJNMTEuNzE4LjE4bDMuMSAzLjEwM0wzLjEwMyAxNSAwIDExLjl6Ii8+PC9nPjwvc3ZnPiA='); }
